:root {
    --text-color: white;
    --second-text-color: black;
    --background-color: #efefef;
    --second-background-color: rgb(53, 53, 53);
    --third-background-color: rgb(213, 213, 213);
    --border-radius: 5px;
}

body {
    background-color: var(--third-background-color);
}



.main-box {
    display: grid;
    grid-template-areas:
        "header header header"
        "aside1 main aside2"
        "footer footer footer";
    grid-template-columns: 1fr 3fr 1fr;
    gap: 5px;
    max-width: 1200px;
    margin: 0 auto;
}

.main-box>* {

    border-radius: 5px;
}

.hnav a {
    background-color: var(--second-background-color);
    color: var(--text-color);
    padding: 5px 10px;
    border-radius: var(--border-radius);
}
header {
    grid-area: header;
    background-color: var(--background-color);
}

footer {
    grid-area: footer;
    background-color: var(--background-color);
}

.first-sidebar {
    grid-area: aside1;
    background-color: var(--background-color);
}

.second-sidebar {
    grid-area: aside2;
    background-color: var(--background-color);
}

.main-area {
    grid-area: main;
}

.cmain {
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 85dvh;
}

.cmain>* {
    padding: 10px;
}

.cbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color);
    border-radius: var(--border-radius);

}

.cpbox {
    background-color: var(--background-color);
    border-radius: var(--border-radius);
}

.calper {
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 5px;

}

.input-row {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 5px;
}

.input-row input {
    flex: 2;

}

.input-row span {
    flex: 1;
}

#result-ans {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--third-background-color);
    padding: 10px;
}

