<footer class="footer-class">
    <div class="Fabout">
        <a href="#">About</a>
        <a href="#">Contact</a>
        <a href="#">Disclaimer</a>
    </div>
    <div class="FLegal">
        <a href="#">Privacy Policy</a>
        <a href="#">Terms & Conditions</a>
    </div>
    <div class="Ftools">
        <a href="#">Calculator</a>
    </div>
</footer>

<style>
    .footer-class {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 10px;
    }

    .Fabout {
        display: flex;
        flex-direction: column;
    }

    .FLegal {
        display: flex;
        flex-direction: column;
    }

    .Ftoos {
        display: flex;
        flex-direction: column;
    }

    .footer-class a {
        text-decoration: none;
        color: rgb(56, 56, 56);
    }

    @media  {
        
    }

</style>
