---
import { Image } from "astro:assets";
import Logo from "../assets/logo.png";
---

<header class="site-header">
    <div class="site-main-logo">
        <a href="#">
            <Image
                src={Logo}
                alt="gyanfry site logo main"
                class="site-logo"
                format="avif"
            />
        </a>
    </div>
    <div class="hnav">
        <ul>
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">Tools</a>
            </li>
            <li>
                <a href="#">About</a>
            </li>
        </ul>
    </div>
    <button> Login </button>
</header>

<style>
    .site-header {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        align-items: center;
        justify-items: center;
        margin: 0;
        padding: 2px;
    }

    .hnav {
        width: 30%;
    }

    .hnav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 2px;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    .hnav li {
        list-style: none;
    }

    .hnav a {
        text-decoration: none;
    }

    .site-logo {
        display: flex;
        width: 60px;
        height: auto;
        align-items: center;
    }

    button {
        background-color: rgb(53, 53, 53);
        color: white;
        border-radius: 5px;
        padding: 5px 10px;
        border: none;
        cursor: pointer;
    }
</style>
